<div class="body">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Sidebar and Main Content -->
  <div class="dashboard-container">
     <!-- Sidebar -->
     <aside class="sidebar">
      <h4>
        <i class="fas fa-tachometer-alt me-2"></i> Performance Dashboard
      </h4>
      <nav>
        <ul>
          <li>
            <a id="active" href="/Performance-Dash">
              <i class="fas fa-chart-line me-2"></i> Real-Time Stats
            </a>
          </li>
          <li>
            <a href="/Resource-Usage">
              <i class="fas fa-server me-2"></i> Resource Usage
            </a>
          </li>
          <li>
            <a href="/ASH-Report">
              <i class="fas fa-database me-2"></i> ASH Report
            </a>
          </li>
          <li>
            <a  href="/Awr-report">
              <i class="fas fa-file-alt me-2"></i> AWR Report
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <!-- Main Content -->
    <main class="content">
      <!-- Real-Time Stats Chart -->
      <section id="realtime-stats" class="section">
        <h2>Real-Time Stats</h2>
        <canvas id="realtimeStatsChart"></canvas>
        <p class="chart-description">
          This chart represents the system's real-time statistics such as "DB Time" and other metrics.
        </p>
      </section>


    </main>
  </div>
</div>
